body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4d5051;
	background-color: #fdf0d8;
	margin: 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}

.searchbox {
    background-color: #6699FF;
    border-radius: 10px 30px 10px 30px;
    float: right;
    margin: 12px 12px 0 0;
    width: 235px;
	text-align: center;
}

.searchbox ul {
	line-height: 1.4;
    list-style-type: none;
    margin-left: 35px;
}

.searchbox ul  li {
     display: inline;
     text-align: center;
}

.page {
	width: 1000px;
	height:100%;
	margin: 0px auto;
	background-color: #003366;
	border-radius:35px 35px 0px 0px;
	margin-top:125px;
}
.header {
	width: 100%;
	height: 100px;
	background-image: url(../images/ad-banner.jpg);
	background-repeat: repeat-x;
	position:relative;left:0px;top:0px;z-index:1;
}

.board-image {
	background-repeat: no-repeat;
	margin: 0px auto;
	position:absolute;left:200px;top:0px;z-index:10;
}

.quickurl {
	text-align: right;
	width: 200px;
	height: 81px;
	float: left;
}

.header-bottom {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 1000px;
	height: 257px;
	float: left;
}
.header-bottom h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	margin-top: 92px;
	margin-left: 27px;
}

.topmenu {
	background-image: url(../images/menu-bg.jpg);
	background-repeat: no-repeat;
	width: 1000px;
	height: 74px;
	float: right;
}
.topmenu ul {
	display:inline-table;
	list-style: none;
	position: relative;
	z-index: 999;
}
.topmenu ul li {
	background-image: url(../images/devider.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
}

.topmenu ul li ul {
	display: none;
}

.topmenu ul li:hover ul {
	display: block;
}

.topmenu ul li:hover {
		background: #4b545f;
}


.topmenu ul li a {
		display: block; padding: 25px 40px;
		color: white; text-decoration: none;
	}


.topmenu ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
.topmenu ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
}

.footer {
	line-height: 69px;
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 952px;
	height: 69px;
	float: left;
	padding: 23px 24px 0px 24px;
}
.footer p {
	font-size: 11px;
	color: #FFFFFF;
	float: left;
}
.footer a {
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer ul {
	float: right;
}
.footer ul li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.footer ul li a {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer ul li a:hover {
	text-decoration: underline;
}

.intro { position: relative; overflow: auto; }
.intro li { list-style: none; float: left;}
.intro ul li { margin:0px auto;height:200px;width:400px; left;  border-radius: 30px 30px 30px 30px; }

#adv_pop { margin:0px auto;background-color:#fdf0d8 }
#adv_pop li { list-style: none; float: left;}
#adv_pop ul li { margin:0px auto;  border-radius: 30px 30px 30px 30px; }
