<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 	
    <context:annotation-config/>
    
	<!-- Service -->
	<bean id="loginService" class="com.adsandboards.web.service.impl.CalculatorImpl"/>
	
	<bean id="organizationService" class="com.adsandboards.web.service.impl.OrganizationServiceImpl"/>
	
	<bean id="countryService" class="com.adsandboards.web.service.impl.CountryServiceImpl"/>
	
	<bean id="accountService" class="com.adsandboards.web.service.impl.AccountServiceImpl"/>
	
	<bean id="stateService" class="com.adsandboards.web.service.impl.StateServiceImpl"/>
	
	<bean id="cityService" class="com.adsandboards.web.service.impl.CityServiceImpl"/>
	
	<!-- Dao -->
	<bean id="organizationDao" class="com.adsandboards.web.dao.impl.OrganizationDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="countryDao" class="com.adsandboards.web.dao.impl.CountryDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="accountDao" class="com.adsandboards.web.dao.impl.AccountDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="stateDao" class="com.adsandboards.web.dao.impl.StateDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="cityDao" class="com.adsandboards.web.dao.impl.CityDaoImpl">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- database related -->
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.query.substitutions=true 'Y', false 'N'
                hibernate.cache.use_second_level_cache=true
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
            </value>
            <!-- Turn batching off for better error messages under PostgreSQL -->
            <!-- hibernate.jdbc.batch_size=0 -->
        </property>
    </bean>
	
	
	 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="100"/>
        <property name="maxWait" value="1000"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>
</beans>
