<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>Ads nd Boards Web App</display-name>
  
  	<listener>
		<listener-class>
				org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

   	<servlet>
        <servlet-name>adsandboards</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>        
 
    <servlet-mapping>
        <servlet-name>adsandboards</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
       <welcome-file>/WEB-INF/index.jsp</welcome-file> 
        <!-- <welcome-file>/WEB-INF/views/home.jsp</welcome-file> -->
    </welcome-file-list>
  
</web-app>
